<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include("head");-%>

<body>
  <div class="box" id="heading">
    <h1><%=toDoheading%></h1>
  </div>
  <p>asdas</p>
  <p>asdasadsadsasddasads</p>
  <%-include("footer");-%>
</body>

</html>
